body {
    margin: 0;
    font-family: sans-serif;
    
}

h1 {
    text-align: center;
}

/* ----formulario---- */

.form {
    max-width: 600px;
    border: 2px solid #eee;
    margin: auto;
    box-shadow: 0 0 10px 1px black;
    border-radius: 5px;
}

.container-informacion-basica {
    display: flex;
    flex-flow:column wrap ;
    justify-content:flex-start;
}

.container-articulos {
    display: flex;
    flex-flow: row wrap;   
    justify-content: space-evenly;
    
}

.form-input{
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #0005;
    padding: 5px;
}

label {
    padding: 5px;
}

fieldset{
    border: none;
    border-top: 1px solid #0005;
}

fieldset:last-child {
    margin-top:20px;
}

.button{
    background-color: #981818;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-left: 180px;
    color: white;
}

.button-lista-facturas {
    position: relative;
    left: 270px;
}

/* ------barra de navegacion----- */

body {
    margin: 0;
    font-family: sans-serif;
}

.nav{
    margin-bottom: 20px;
}
.nav-ul {
    display: flex;
    justify-content: space-around;
    background-color: #71230b;
    margin: 0;
    padding: 15px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: dotted;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    
}

.nav-link:hover {
    background-color: #faf6f42b;
}

.bottom-sign-in {
    border: 2px solid white;
    transition: background-color 0.5s;
    
}

.bottom-sign-in:hover {
    color: #71230b;
    background-color: white;
}

/* Pie de página */

.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-top: 1px solid black;
    background-color: #71230b;
}


.ul-footer {
    list-style: none;
}

.link-footer {
    text-decoration: none;
    color: white;
}

.item-ul {
    margin: 10px;
}

.item-ul:first-child{
    border-bottom: 2px solid white;
    font-size: 20px;
}